# Terraform
.terraform/
*.tfstate
*.tfstate.*
crash.log
override.tf
override.tf.json
*_override.tf
*_override.tf.json
terraform.tfvars
*.auto.tfvars

# Ansible/local
*.retry
.env
.env.*
secrets.yml
vault.yml
